/* * {
    margin: 0;
    padding: 0;
    color: black;
    height: 100%;
} */

.bg {
    background-image: url("/static/tree_identification/images/bg.png") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}

.bg_foder {
    background-image: url("/static/tree_identification/images/image_bg_upload.png") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-color: #EAEAEA;
    height: 39vh;
    border-radius: 1vw;
}


/* .row {
    margin-right: 0;
}

.row_nav {
    height: 7vh;
    margin: auto;
}

.navbar-nav {
    font-size: 1.2vw;
}

.nav-link {
    color: black;
}

.row_text {
    height: 35vh;
    font-size: 10vh;
    text-align: center;
}

.name_text {
    padding: 1vw;
}

.row_upload {
    height: 58vh;
}

.bg_upload {
    background-color: #EAEAEA;
    height: 39vh;
    border-radius: 1vw;
}

.image_bg_upload {
    height: 10vh;
    text-align: center;
    margin-right: .4vw;
}

.row_img_upload {
    height: 19vh;
    margin: auto;
    padding: 3vw;
}

.image_bg_upload:hover {
    cursor: pointer;
}

.row_btn_upload {
    height: 10vh;
    text-align: center;
    margin: auto;
    padding: 1vw;
}

.btn_upload {
    height: 7vh;
    width: 12vw;
    border-radius: 2vw;
    background: #47CFB7;
    border: none;
    font-size: 1.2vw;
} */