<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>tree identification</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static '/tree_identification/assets/img/favicon.png' %}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static '/tree_identification/assets/css/all.min.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static '/tree_identification/assets/bootstrap/css/bootstrap.min.css' %}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static '/tree_identification/assets/css/owl.carousel.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static '/tree_identification/assets/css/magnific-popup.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static '/tree_identification/assets/css/animate.css' %}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{% static '/tree_identification/assets/css/meanmenu.min.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static '/tree_identification/assets/css/main.css' %}">
    <!-- responsive -->
    <link rel="stylesheet" href="{% static '/tree_identification/assets/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static '/tree_identification/css/style.css' %}">

</head>

<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <!-- <div class="site-logo">
                            <a href="index.html">
                                <img src="assets/img/logo.png" alt="">
                            </a>
                        </div> -->
                        <!-- logo -->

                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li><a href="/index">Identifier</a></li>
                                <li><a class="mobile-hide search-bar-icon" href="#">Explorer</a></li>
                                <li><a href="/contact">Contribute</a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->

    <!-- search area -->
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="close-btn"><i class="fas fa-window-close"></i></span>
                    <div class="search-bar">
                        <div class="search-bar-tablecell">
                            <h3>Search For:</h3>
                            <input type="text" placeholder="Keywords">
                            <button type="submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end search area -->

    <!-- hero area -->
    <div class="hero-area hero-bg bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <h1 style="margin-top: 1vh;"><span style="color: #47CFB7;">50</span> Nam Medicinal plant Classification</h1>
                            <!-- <div class="row">
                                <form enctype="multipart/form-data" action="/smt/smt_pamameter_management/api/post/upload_file" method="POST">
                                    <div class="bg__folder" onclick="browse()"></div>
                                    <input type="file" id="myfile" name="myfile" style="display:none" onchange="onChangeFile()">
                                    <h4 id="file_url" style="  bottom: 10vh; text-align: center;position: absolute;"></h4>
                                    {% csrf_token %}
                                </form>
                            </div> -->
                            <div class="hero-btns">
                                <a href="" class="boxed-btn">Upload Image</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero area -->


    <link rel="stylesheet" href="{% static '/tree_identification/assets/css/all.min.css' %}">
    <!-- jquery -->
    <script src="{% static '/tree_identification/assets/js/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static '/tree_identification/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- count down -->
    <script src="{% static '/tree_identification/assets/js/jquery.countdown.js' %}"></script>
    <!-- isotope -->
    <script src="{% static '/tree_identification/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
    <!-- waypoints -->
    <script src="{% static '/tree_identification/assets/js/waypoints.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static '/tree_identification/assets/js/owl.carousel.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static '/tree_identification/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- mean menu -->
    <script src="{% static '/tree_identification/assets/js/jquery.meanmenu.min.js' %}"></script>
    <!-- sticker js -->
    <script src="{% static '/tree_identification/assets/js/sticker.js' %}"></script>
    <!-- main js -->
    <script src="{% static '/tree_identification/assets/js/main.js' %}"></script>

</body>

</html>